.catalogue {
  padding: 60px 20px;
  max-width: 1300px;
  margin: auto;
  font-family: "Inter", sans-serif;
}

/* Header */
.catalogue-header {
  text-align: center;
  margin-bottom: 60px;
}

.catalogue-header h1 {
    color: rgb(80, 87, 87);
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.catalogue-header p {
  margin-top: 10px;
  color: #000000;
  font-size: 1.1rem;
}

/* Grid Layout */
.catalogue-grid {
  column-count: 3;
  column-gap: 20px;
}



/* Items */
.catalogue-item {
  position: relative;
  margin-bottom: 20px;
  break-inside: avoid;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
}

/* Image */
.catalogue-item img {
  width: 100%;
  display: block;
  border-radius: 18px;
  transition: transform 0.6s ease, filter 0.6s ease;
}

/* Hover Zoom */
.catalogue-item:hover img {
  transform: scale(1.08);
  filter: brightness(70%);
}

/* Overlay */
.overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.catalogue-item:hover .overlay {
  opacity: 1;
}

.overlay h2 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
}

.overlay span {
  font-size: 0.9rem;
  color: #ddd;
}
