.navbar {
  display: flex;

  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;
  border-bottom: 1px solid #d9d9d9;
}
.logo {
  margin-left: 100px;
  font-size: 1.9rem;
  font-weight: 600;
  color: black;
}

.navlinks {
  display: flex;
  list-style: none;
  gap: 4vw;
  margin-right: 90px;
}
.navlinks li a {
  text-decoration: none;
  color: #4b5563;
  font-size: 1.5rem;
  font-weight: 500;
}

.navlinks li a:hover {
  color: #000000;
}

.contact-button {
  color: #090909;
  padding: 0.7em 1.7em;
  margin-right: 30px;
  font-size: 18px;
  border-radius: 0.5em;
  background: #000000;
  cursor: pointer;
  border: 1px solid #000000;
  transition: all 0.3s;
  box-shadow:
    3px 3px 4px #c5c5c5,
    -3px -3px 4px #ffffff;
}
.contact-button a {
  text-decoration: none;
  color: white;
  font-size: 1.11rem;
  font-weight: 500;
}

.contact-button:hover {
  background-color: #363637;
}
.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

.navlinks a,
.contact-button a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  position: relative;
  padding: 6px 0;
  transition: color 0.3s ease;
}

/* underline ONLY for navbar links */
.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.contact-active {
  font-weight: 700;
}
