.footer {
  min-height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px 20px;
  position: relative;
}

/* center the white box */
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  background: #ffffff; /* WHITE BACKGROUND */
  border-radius: 16px;
  padding: 30px 0px;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

/* brand */
.footer-main {
  text-align: center; /* centers text */
  display: flex;
  flex-direction: column;
  align-items: center; /* centers block elements */
}

.footer-main h1 {
  margin-bottom: 0px;
  font-size: 32px;
  color: #111827;
}

.footer-desc {
  max-width: 600px;
  font-size: 17px;
  line-height: 1.2;
  color: #4b5563;
}

/* links layout */
.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: 20px;
}


.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.footer-links ul:nth-child(1) {
  text-align: center;
}

.footer-links ul:nth-child(2) {
  text-align: center;
}
.footer-links ul:nth-child(3) {
  text-align: center;
}

.footer-links li:first-child {
  font-weight: 800;
  margin-bottom: 10px;
  color: #111827;
}

.footer-links li {
  font-size: 17px;
  margin-bottom: 6px;
  color: #6a717b;
  cursor: pointer;
}

.footer-links li:hover {
  color: #000000;
}

/* social icons */
.social-icons {
  display: flex;
  gap: 18px;
}

.social-icons svg {
  color: #111827;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.social-icons svg:hover {
  transform: scale(1.15);
}

/* icons center */
.social-icons {
  display: flex;
  gap: 23px;
  justify-content: center;
  align-items: center;
}
