
.luxury-blog {
  background: #ffffff;
  color: #363434;
  font-family: "Poppins", sans-serif;
}

/* HERO */
.luxury-hero {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.luxury-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

/* GLASSMORPHISM */
.glass-hero {
  position: absolute;
  bottom: 80px;
  left: 10%;
  padding: 40px;
  backdrop-filter: blur(15px);
  background: #b8a7a7;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  max-width: 600px;
}

.glass-hero h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
}

.glass-hero p {
  opacity: 0.8;
}

/* LAYOUT */
.blog-layout {
  display: flex;
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 20px;
  gap: 60px;
}

.blog-main {
  flex: 3;
}

.blog-sidebar {
  flex: 1;
}

.blog-sidebar h3 {
  margin-bottom: 20px;
}

.blog-sidebar ul {
  list-style: none;
  padding: 0;
}

.blog-sidebar li {
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.blog-sidebar li:hover {
  color: #c9a74d;
}

.sidebar-box {
  margin-top: 40px;
  padding: 20px;
  background: #dfd2d2;
  
  border-radius: 12px;
}

/* SHOP SECTION */
.shop-section {
  margin-top: 60px;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 30px;
}

.product {
  background: #ffffff;
  border-radius: 1px solid black;
  padding: 15px;
  border-radius: 16px;
  transition: 0.4s;
}

.product img {
  width: 100%;
  border-radius: 12px;
}

.product h4 {
  margin-top: 15px;
}

.product span {
  color: #c9a74d;
  font-weight: 600;
}

.product:hover {
  transform: translateY(-8px);
}

/* FADE-IN ANIMATION */
.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

